
body {
    background-color: lightblue;
    margin-bottom: 100px;
}

.head {
    background-color: lightgreen;
    border-width: 5px;
    border-style: solid;
    border-color: limegreen;
    border-radius: 20px;
    padding-bottom: 200px;
    font-family: 'Bree Serif';
    padding-left: 40px;
    padding-right: 40px;
}

.box {
    background-color: lightgreen;
    border-width: 5px;
    border-style: solid;
    border-color: limegreen;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-top: 30px;
    margin-top: 30px;
}
.technologyin {
    text-align: center;
    font-size: 40px;
    padding-top: 175px;
    z-index: 1;
}
.animation {
    text-align: center;
    font-size: 130px;
    z-index: 1;
}
.contexthead {
    text-align: center;
    font-size: 30px;
}
.context {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Bree Serif';
}

.navbar {
    position: fixed;
    z-index: 2;
}

.space {
    height: 80px;
}

.space2 {
    height: 50px;
}

.font {
    font-family: 'Bree Serif';
}
.fonttext {
    font-size: 15px;
}

.invention {
    margin-left: 20px;
    margin-top: 10px;
}

.boxes {
    background-color: #D1FFBD;
    border-width: 5px;
    border-style: solid;
    border-color: limegreen;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-top: 30px;

#fontsize {
    font-size: 20px;
}

.littlespace {
    width: 20px;
}

.otherback {
    background-color: yellow;
    padding: 10px;
}
.img{
    max-width: 80%;
    height: auto;
}
@media (min-width: 992px) {
    .contexthead {
        text-align: center;
        font-size: 50px;
    }
    .context {
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .

}