
body {
    background-color: lightblue;
}

.head {
    background-color: lightgreen;
    margin-top: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: limegreen;
    border-radius: 20px;
    padding-bottom: 250px;
}
.technologyin {
    text-align: center;
    font-size: 40px;
    padding-top: 225px;
}
.animation {
    text-align: center;
    font-size: 130px;
}
.contexthead {
    text-align: center;
    font-size: 50px;
}
.context {
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Bree Serif';
}
}
#3dbox {
    height: 500px;

}
@media (max-width: 992px) {
    .contexthead {
        text-align: center;
        font-size: 30px;
    }
    .context {
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}